/* * {
    border: red solid 2px;
} */

body {
    display: flex;
    justify-content: center;
    height: 98vh;
    flex-direction: column;
    align-items: center;
}

.calc_container {
    display: flex;
    width: 500px;
    height: 600px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    position: absolute;
    border: black solid 2px;
    border-radius: 6px;
    background-color: antiquewhite;
}

.calc_display {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 200px;
    margin: 8px 0px;
    border: black solid 2px;
    border-radius: 6px;
    background-color: aliceblue;
    align-items: end;
}

.calc_op_last,
.calc_op_current {
    flex: 1;
    margin-top: 20px;
    margin-right: 20px;
}

.calc_op_last {
    font-size: 2rem;
}

.calc_op_current {
    font-size: 2.5rem;
}

.calc_numpad {
    display: flex;
    width: 480px;
    height: auto;
    flex: 1;
    flex-direction: column;
    padding: 8px;
}

.calc_numpad > div {
    display: flex;
    flex-direction: row;
    flex: 1;
}

button.del-btn {
    background-color: #db501d;
}

div > button {
    flex: 1;
    border-radius: 8px;
    margin: 6px;
    font-size: 1.5em;
}

footer {
 margin-top: auto;
}

@media only screen and (max-width: 450px) {
    .calc_container {
        height: 450px;
        width: 350px;
    }
    .calc_display {
        height: 148.5px;
        width: 330px;
    } 
    .calc_numpad {
        width: 330px;
    }
}